// Font Styles Files
@font-face {
    font-family: "NotoSans-Regular";
    src: url("../fonts/notosans/static/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "NotoSans-Light";
    src: url("../fonts/notosans/static/NotoSans-Light.ttf");
    
}

@font-face {
    font-family: "NotoSans-Medium";
    src: url("../fonts/notosans/static/NotoSans-Medium.ttf");
}

@font-face {
    font-family: "NotoSans-Bold";
    src: url("../fonts/notosans/static/NotoSans-Bold.ttf");
}

@font-face {
    font-family: "NotoSans-SemiBold";
    src: url("../fonts/notosans/static/NotoSans-SemiBold.ttf");
}

@font-face {
    font-family: "NotoSans-ExtraBold";
    src: url("../fonts/notosans/static/NotoSans-ExtraBold.ttf");
}

@font-face {
    font-family: "NotoSans-BoldItalic";
    src: url("../fonts/notosans/static/NotoSans-BoldItalic.ttf");
}