//Background and Color Variables
:root{
    --primary-color: #008080 !important;
    --primarybg:#FFFFFF ;
    --secondary-bg:#F0F0F0;
    --secondary-bg-heighlited:#c0c1c285;
    --secondary-bg-heighlited-saturated:linear-gradient(139deg, #008080 -25.82%, #007373 50%, #006666 111.5%);
    --right-navigation:#F0F0F0 ;
    --left-navigation:#008080 ;
    --left-navigation-link:#fff;
    --right-navigation-link:#008080;
    --right-navigation-bg:#007bff31;
    --hover-bg:#00808042;
    --left-navigation-icon-bg:linear-gradient(139deg, #008080 -25.82%, #007373 50%, #006666 111.5%);
    --button-bg:#008080;
    --button-color:#fff;
    --border-color:#D3D3D3;
    --accent-color:#333333;
    --selected-bg:#0080806c;
    }